body
{
    color:green;
}
#aboutMe
{
    color:red;
}
ul{
    text-align: center;
    font-weight:bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
    /* position: fixed;
    top: 0;
    width: 100%; */
}
 
li {
    float: left;
}
 
li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #666;
}
 
/*鼠标移动到选项上修改背景颜色 */
li a:hover {
    background-color: #111;
}
li a:active {
    background-color: #4CAF50;
}

img{
    width:400px;
    border: 5px solid black;
}